// ================================================================================
// BUTTONS
// ================================================================================

.c-banner {
    width: 100%;
    min-width: 1200px;
    height: 360px;
    max-height: 360px;
    overflow: hidden;

    div {
        width: 100%;
        min-width: 1200px;
        height: 360px;
        margin-top: -367px;
        position: absolute;
        border-top: 5px solid var(--color-palette-lmag);
        box-shadow: inset 0px 4px 180px 100px #262626;
    }

    img {
        width: 100%;
        min-width: 1200px;
        height: 100%;
        object-fit: cover;
        filter: blur(5px);
        object-position: top;
    }
}