// ================================================================================
// NAV BAR
// ================================================================================

.c-navBar {
    display: flex;
    list-style: none;

    a {
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
        color: rgb(0, 0, 0);

        &:hover {
            color: var(--color-palette-lred);
        }
    }

    &__link {
        margin: 0 20px;
    }
}

.c-navBar2 {
    display: flex;
    list-style: none;
    width: 1200px;
    display: flex;
    justify-content: center;

    a {
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
        color: rgb(255, 255, 255);

        &:hover {
            text-decoration: underline;
        }
    }

    &__link {
        margin: 0 20px;
    }
}

.c-navBarAnime {
    display: flex;
    list-style: none;
    border-bottom: 2px solid var(--color-palette-grey);

    &__bnt {
        cursor: pointer;
        padding: 5px 20px;
        border-radius: 5px 5px 0px 0px;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #ffffff;
        margin-right: 5px;
        background-color: var(--color-palette-lred);
    }
}

.c-subMenu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-palette-lred);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;

    &__ul {
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 40px;
    }

    &__li {
        color: #fff;
        text-decoration: none;
        width: 300px;
        border-radius: 10px;
        padding: 10px 0;
        text-align: center;
        border: 1px solid #fff;
        font-weight: 600;
        cursor: pointer;

        &:hover {
            background-color: #fff;
            font-weight: 600;
            color: var(--color-palette-lred);
        }
    }
}
