// ================================================================================
// ANIME hEADER
// ================================================================================

.c-animeHeader {
    position: absolute;
    margin-top: 65px;
    width: 855px;
}

.c-animeTitles {
    margin-top: 240px;
    padding-bottom: 10px;
    border-bottom: 2px solid #9C9C9C;
}