// ================================================================================
// BUTTONS
// ================================================================================

.c-button {
    &__min {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        background-color: var(--color-palette-lred);
        cursor: pointer;
        animation: cardSurg 0.7s ease-in-out;
        box-shadow: 0px 3px 0px 0px var(--color-palette-bred);

        &:active {
            transform: translateY(3px);
            box-shadow: none;
        }

        img {
            margin-top: 5px;
            margin-left: -1px;
            width: 20px;
            height: 20px;
        }
    }
}
