// ================================================================================
// COMPONENTS
// ================================================================================

.c-animeFolder {
    width: 300px;
    height: 430px;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    margin-bottom: 430px;
}
