// ================================================================================
// FOOTER
// ================================================================================

.l-footer {
    width: 100%;
}

.c-redBox {
    background-color: var(--color-palette-lred);
    width: 100%;
    height: 120px;
    margin-top: 50px;
}

.c-blackBox {
    background-color: var(--color-palette-blck);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.c-toru {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: right;
    margin-top: -224px;

    img {
        width: 227px;
        height: 224px;
    }
}

.c-mal {
    width: 140px;
    height: 31px;
    object-fit: cover;
    margin-top: 30px;
    margin-bottom: 5px;

    filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(325%) hue-rotate(59deg) brightness(115%) contrast(100%);
}
