// ================================================================================
// CARD ANIME
// ================================================================================

.c-cardAnime {
    width: 200px;
    animation: cardSurg 0.5s ease-in-out;

    &__capa {
        width: 200px;
        height: 300px;
        border-radius: 10px;
        object-fit: cover;
    }

    &__name {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 15px;
    }

    &__genres {
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
        margin-top: 10px;
        color: var(--color-palette-bgry);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@keyframes cardSurg {
    0% {
        clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
    }
    100% {
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }
}

.c-mostWatched {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    cursor: pointer;

    &__content {
        width: 175px;
    }

    &__img {
        width: 90px;
        height: 60px;
        border-radius: 5px;
        object-fit: cover;
    }

    &__name {
        font-weight: 400;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__genres {
        font-weight: 400;
        font-size: 11px;
        color: #757575;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__score {
        font-weight: 600;
        font-size: 14px;
        color: #f49d1a;
        margin-top: 2px;
    }

    &__star {
        width: 17px;
        height: 17px;
    }

    &__ff {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
