// ================================================================================
// TRANSITIONS
// ================================================================================

:root {
    // transitions
    --transition-duration-default: 305ms;
    --transition-duration-complex: 385ms;
    --transition-duration-entrance: 235ms;
    --transition-duration-exit: 205ms;
    --transition-duration-fast: 150ms;

    --transition-function-ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    --transition-function-ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
    --transition-function-ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    --transition-function-ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --transition-function-ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    --transition-function-ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
    --transition-function-elastic: cubic-bezier(0.175, 0.885, 0.41, 1.46);
}

// ================================================================================
// COLORS
// ================================================================================

:root {
    // social networks colors
    --color-network-Facebook: #3b5998;
    --color-network-Twitter: #00aced;
    --color-network-Linkedin: #007bb6;
    --color-network-Instagram: #517fa4;
    --color-network-Twitch: #6441a5;
    --color-network-YouTube: #bb0000;
    --color-network-Pinterest: #cb2027;
    --color-network-Adobe: #ff0000;
    --color-network-Amazon: #ff6600;
    --color-network-Spotify: #7ab800;
}

:root {
    // palette colors base
    --color-palette-lyel: #ffe15d;
    --color-palette-byel: #f49d1a;
    --color-palette-lred: #f44336;
    --color-palette-mred: #dc3535;
    --color-palette-bred: #b71515;
    --color-palette-lmag: #d81b60;
    --color-palette-mmag: #880e4f;
    --color-palette-grey: #a7a7a7;
    --color-palette-bgry: #757575;
    --color-palette-blck: #343434;
    --color-palette-bdck: #1f1f1f;
}

// ================================================================================
// BREAKPOINTS
// ================================================================================

:root {
    // breakpoint
    --breakpoint-small: rem(768px);
    --breakpoint-medium: rem(1024px);
    --breakpoint-large: rem(1440px);
    --breakpoint-extra-large: rem(1920px);
}

// ================================================================================
// Z-INDEX
// ================================================================================

:root {
    //z-index--z-index-above: 500;
    --z-index-modal: 400;
    --z-index-overlay: 300;
    --z-index-dropdown: 200;
    --z-index-default: 1;
    --z-index-below: -1;
}

// ================================================================================
// TYPOGRAPHY
// ================================================================================

:root {
    // typography
    --font-step--2: clamp(0.78rem, calc(0.73rem + 0.13vw), 0.84rem);
    --font-step--1: clamp(0.94rem, calc(0.79rem + 0.38vw), 1.13rem);
    --font-step-0: clamp(1.13rem, calc(0.83rem + 0.75vw), 1.5rem);
    --font-step-1: clamp(1.35rem, calc(0.83rem + 1.3vw), 2rem);
    --font-step-2: clamp(1.62rem, calc(0.78rem + 2.09vw), 2.67rem);
    --font-step-3: clamp(1.94rem, calc(0.66rem + 3.22vw), 3.55rem);
    --font-step-4: clamp(2.33rem, calc(0.41rem + 4.81vw), 4.74rem);
    --font-step-5: clamp(2.8rem, calc(-0.01rem + 7.03vw), 6.31rem);

    // TODO: implement a vertical rhythm
    --font-size-default: var(--font-step--1);
    --line-height-default: 1.5;
}
