// ================================================================================
// TEXT
// ================================================================================

.c-text {
    &__copy {
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
        color: white;
    }

    &__generos {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: white;
    }

    &__titles {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        max-width: 700px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__year {
        font-weight: 800;
        font-size: 16px;
        line-height: 24px;
        color: var(--color-palette-lred);
    }

    &__sinopse {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: var(--color-palette-bdbk);
        margin-top: 18px;
        margin-bottom: 18px;
    }

    &__lateralText {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #5b5b5b;
        margin-top: 5px;

        span {
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: var(--color-palette-lred);
        }
    }
}
