// ================================================================================
// TITLE
// ================================================================================

.c-title {
    &__logo {
        a {
            color: var(--color-palette-mred);
            font-style: normal;
            font-weight: 800;
            font-size: 35px;
            line-height: 52px;
            animation: tittleSurg 0.7s ease-in-out;
            text-decoration: none;
        }
    }

    &__session {
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        margin-bottom: 18px;
        animation: tittleSurg 0.5s ease-in-out;
    }

    &__animeName {
        color: white;
        max-width: 650px;
        font-weight: 700;
        font-size: 40px;
        line-height: 75px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__subTitle {
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 38px;
        margin-top: 13px;
    }

    &__subTitle2 {
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 38px;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    &__lateralTitle {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        border-bottom: 2px solid #9C9C9C;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
}

@keyframes tittleSurg {
    0% {
        clip-path: polygon(0 100%, 0 100%, 0 0, 0 0);
    }
    100% {
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }
}
